<h1 class="text-2xl">Por región</h1>
<h3 class="text-lg"> Seleccione una región</h3>

<section class="row mt2">
    <div class="flex-col">
        @for (region of regions; track region) {
          <button class="btn btn-accent m-2 w-[100px]"
            [class.btn-secondary]="selectedRegion() === region"
            [class.btn-outline]="selectedRegion() !== region"
            [class.btn-secondary]="selectedRegion() !== region"
            (click)="selectedRegion.set(region)">
            {{ region }}
          </button>
        }
    </div>
</section>
Region Seleccionada: {{ selectedRegion() }}

<country-list [countries]="countryResource.value()??[]"
      [errorMessage]="countryResource.error()"
      [isLoading]="countryResource.isLoading()"
      [isEmpty]="countryResource.value()?.length === 0"
    />
